.c-combo, input.c-text-field[type="text"], input.c-text-field[type="number"] {
	margin-top: 10px;
}
span img {
	margin-right: 0.5rem;
}
span div[class|=colourIndicator] {
	margin: 0;
	margin-right: 0.5rem;
	width: 32px;
	height: 32px;
	color: transparent;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
}
.colourIndicator-Red {
	background-color: red;
}
.colourIndicator-Orange {
	background-color: orange;
}
.colourIndicator-Yellow {
	background-color: yellow;
}
.colourIndicator-Green {
	background-color: green;
}
.colourIndicator-Cyan {
	background-color: cyan;
}
.colourIndicator-Blue {
	background-color: blue;
}
.colourIndicator-Purple {
	background-color: purple;
}
.colourIndicator-Pink {
	background-color: pink;
}
.colourIndicator-Brown {
	background-color: #A5682A;
}
.colourIndicator-White {
	background-color: white;
}
.colourIndicator-Black {
	background-color: black;
}
.colourIndicator-Grey {
	background-color: grey;
}
.colourIndicator-Bronze {
	background: linear-gradient(#A95B0E, white, #A95B0E);
}
.colourIndicator-Silver {
	background: linear-gradient(silver, white, silver);
}
.colourIndicator-Gold {
	background: linear-gradient(#CCAC00, white, #CCAC00);
}
.colourIndicator-Unknown {
	background-color: transparent;
}

/*
#addBikePage {
	height: 1px;
	margin-top: -1px;
	background-color: #eee;
	animation: slideDownIn 0.5s ease-out;
}
#addBikePage.show {
	animation: slideDownIn 0.5s ease-out;
}

@keyframes slideDownIn {
    from { height: 1px; }
    to   { height: 600px; }
}*/
#addBikePage, #viewBikePage {
	display: none;
	margin-top: -1px;
}
#addBikePage.show, #viewBikePage.show {
	display: block;
	background-color: #eee;

	padding-left: 2%;
	padding-right: 2%;
}

section.m-product-placement-item a.selected {
	background: #eee;
	padding: 1rem;
}
.data-grid-row {
	display: flex;
}
@media screen and (max-width: 1399px) {
	.data-grid-row {
		/*display: block;*/
		padding-left: 1rem !important;
	}
}

#bikeList {
	padding-left: 2%;
	padding-right: 2%;
	animation: fadeInAnimation 0.2s ease-out;
}
.reportStatusBadge {
    display: block;
    margin-top: 1px !important;
}
.reportStatusBadge.noReport {
	visibility: hidden;
}
.reportStatusBadge.reported {
	background-color: #FFBB00;
}
.reportStatusBadge.underInvestigation {
	background-color: #FFD800;
}
.reportStatusBadge.found {
	background-color: #AAFFAA;
}
.c-combo input:disabled, .c-combo input:disabled:hover {
	cursor: not-allowed;
	color: rgba(0, 0, 0, 1) !important;	
	border-color: rgba(0, 0, 0, 0.3);
}
input.c-text-field:disabled, input.c-text-area:disabled {
	color: rgba(0, 0, 0, 1) !important;
	border-color: rgba(0, 0, 0, 0.3) !important;	
}
.c-toggle.editToggle {
	float: right;
}
#editBikeSaveDraftButton, #editBikeSubmitChangesButton {
	display: none;
}